- name: Install Docker on target VM
  hosts: localhost
  connection: local
  become: yes
  tasks:
    - name: Update apt packages (ignore errors)
      apt:
        update_cache: yes
      ignore_errors: yes

    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes
